body {
    
  background-color: lightgray;
  font-family: Arial;
}

.calculator {
  width: 300px;
  background-color: rgba(0, 0, 0, 0.906);
  padding: 25px;
  margin: 50px auto;
  border-radius: 15px;
}

.display {
  width: 100%;
  height: 50px;
  font-size: 25px;
  text-align: right;
  margin-bottom: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.buttons {
  text-align: center;
}

.btn {
  width: 60px;
  height: 60px;
  font-size: 20px;
  margin: 5px;
  background-color: #aaa9a9;
  color:white;
  border: none;
  border-radius: 5px;
}

.operator {
  background-color: orange;
}

.equal {
  background-color: blue;
}

.clear {
  background-color: red;
  width: 260px;
  height: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}
